body,
html {
  height: 100%;
  font-size: 14px;
  color: #252629;
  margin: 0;
  width: 100%;
}
@media (max-width: 640px) {
  body {
  }
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
  color: #68543b;
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 2.5rem;
}
h2 {
  font-size: 2.5em;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

a {
  text-decoration: none;
  color: #68543b;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
}

p {
  margin-bottom: 2.5rem;
  line-height: 1.75;
  margin-top: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 140px;
  padding: 2em;
}
