body, html {
 height: 100%;
  font-size: 14px;
  color: #252629;
  margin: 0;
  width: 100%;
}

body {
  /* margin-top: 140px; */
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', Times, serif;
  color: #A58C5F;
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 2.5rem;
}

p {
  margin-bottom: 2.5rem;
  line-height: 1.75;
  margin-top: 0;
}